@using SherpaFrontEnd.Services
@inject ICookiesService CookiesService

<div class="@(_display ? "fixed bottom-0 mb-8" : "hidden")" role="dialog"><span>To find out more about our Cookies policy here. Once you are done, please, come back and accept them.</span><button @onclick="HandleClick">Accept</button></div>

@code {
    private bool _display = false;

    protected override async Task OnInitializedAsync()
    {
        var areCookiesAccepted = await CookiesService.AreCookiesAccepted();

        if (!areCookiesAccepted)
        {
            _display = true;
            StateHasChanged();
        }
    }
    
    private async Task HandleClick()
    {
        await CookiesService.AcceptCookies();
        _display = false;
        StateHasChanged();
    }

}