@inherits LayoutComponentBase
<section class="codurance-dark">
    <a href="">
        <img src="img/Codurance-logo-negative.png" alt="codurance logo"/>
    </a>
</section>
<div>
    @Body
</div>    
    
<!--
<div class="sidebar">
    <NavMenu/>
</div>

<main>
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <article class="content px-4">
        @Body
    </article>
</main>
-->
