@inherits LayoutComponentBase
<section class="codurance-dark">
    <nav class="main-nav">
        <NavLink class="nav-link codurance-dark" href="">
            <img class="main-nav-logo" src="img/Codurance-logo-negative.png" alt="codurance logo"/>
        </NavLink>
        <NavLink class="nav-link codurance-dark" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="nav-link codurance-dark" href="main-page">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Groups
        </NavLink>

    </nav>
</section>
<div>
    @Body
</div>

<!--
<div class="sidebar">
    <NavMenu/>
</div>

<main>
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <article class="content px-4">
        @Body
    </article>
</main>
-->