<div class="template-box">
    <h2 class="template-box__title">@Name</h2>
    <p class="template-box__time"><i class="las la-clock"></i> @MinutesToComplete min</p>
    <button class="template-box__button">
        <span>
            <i class="las la-ellipsis-v"></i>
        </span><span class="visually-hidden">Open contextual menu for @Name</span>
    </button>
</div>

@code {

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public int MinutesToComplete { get; set; }

}