@inject NavigationManager NavManager

<div class="template-box cursor-pointer" onclick="@(() => NavManager.NavigateTo($"/templates/{Uri.EscapeDataString(Name)}"))">
    <h2 class="template-box__title">@Name</h2>
    <p class="template-box__time"><i class="las la-clock"></i> @MinutesToComplete min</p>
</div>

@code {

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public int MinutesToComplete { get; set; }

}