
.groups-list {
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 2em 0.5em 4em 0.5em;
}

.groups-list .btn-group-vertical {
    position: fixed;
    bottom: 1.5em;
    padding-left: 1em;
}

.groups-list .card:hover {
    cursor: pointer;
}

.groups-box {
    text-align: center;
}

.groups-box ul {
    position: relative;
    padding-left: 0;
}
.groups-box ul li {
    list-style: none;
    padding: 1.4em;
}

.groups-box ul li:hover {
    cursor: pointer;
    background: #eaeaea;
}

.selected {
    background: #f8d4d4;
    font-weight: bold;
    color: #313135;
}