@using SherpaFrontEnd.Dtos.Analysis
@inject IJSRuntime Js
<div id="@_chartId"></div>
@code {
    [Parameter] public GeneralResultsDto? GeneralResults { get; set; }
    private string _chartId = "general-results-column-chart";
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Js.InvokeVoidAsync("generateColumnsChart", _chartId, GeneralResults?.ColumnChart, GeneralResults?.Metrics.General);
    }
}