@page "/cookie-policy"
@using SherpaFrontEnd.Core.Layout
@layout PublicAccessLayout

<header class="bg-primary-dark-principal w-full py-5">
    <h1 class="text-white text-3xl font-bold ml-14">Cookie Policy</h1>
</header>

<h2>Cookies</h2>

<p>A cookie is a small text file which is automatically saved on your computer when you visit our website and is issued to help track activity across our website.</p>

<p>Codurance uses cookies on our website for the following purposes:</p>

<h2>Google Analytics</h2>

<p>We use Google Analytics to help provide anonymous web analytics for our website.</p>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Expiration</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>_ga</td>
        <td>Used to distinguish users</td>
        <td>2 years</td>
    </tr>
    <tr>
        <td>_gat</td>
        <td>Used to throttle request rate</td>
        <td>30 minutes</td>
    </tr>
    </tbody>
</table>

<h2>Hotjar</h2>

<p>We use Hotjar in order to better understand our users' needs and to optimize this service and experience.</p>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Expiration</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>_hjSessionUser</td>
        <td>Set when a user first lands on a page. Persists the Hotjar User ID which is unique to that site. Hotjar does not track users across different sites. Ensures data from subsequent visits to the same site are attributed to the same user ID.</td>
        <td>1 year</td>
    </tr>
    <tr>
        <td>_hjSession</td>
        <td>Holds current session data. Ensures subsequent requests in the session window are attributed to the same session.</td>
        <td>30 minutes, extended on user activity</td>
    </tr>
    </tbody>
</table>

<h2>Removing Cookies</h2>

<p>If you have any concerns about cookies, or want to remove cookies from your computer, please visit <a target="_blank" href="https://allaboutcookies.org/" class="text-blue-700 text-decoration-underline">All About Cookies</a> which explains how to do this.</p>

<p>If you have any questions about how we use cookies, please contact email us at <a target="_blank" href="mailto:hello@codurance.com" class="text-blue-700 text-decoration-underline">hello@codurance.com</a></p>