@page "/cookie-policy"
@using SherpaFrontEnd.Core.Layout
@layout PublicAccessLayout

<header class="bg-primary-dark-principal w-full py-5">
    <h1 class="text-white text-3xl font-bold ml-14">Cookie Policy</h1>
</header>

<h2>Cookies</h2>

<p>A cookie is a small text file which is automatically saved on your computer when you visit our website and is issued to help track activity across our website.</p>

<p>Codurance uses cookies on our website for the following purposes:</p>

<h2>Sherpa Website</h2>

<p>We use cookies to improve the user experience of our website.</p>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Expiration</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>CookiesAcceptedDate</td>
        <td>Used to indicate you have seen the cookie message.</td>
        <td>No explicit expiration.</td>
    </tr>
    </tbody>
</table>

<h2>Google Analytics</h2>

<p>We use Google Analytics to help provide anonymous web analytics for our website.</p>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Expiration</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>_ga</td>
        <td>Used to distinguish users.</td>
        <td>2 years.</td>
    </tr>
    <tr>
        <td>_gat</td>
        <td>Used to throttle request rate.</td>
        <td>30 minutes.</td>
    </tr>
    </tbody>
</table>

<h2>Hotjar</h2>

<p>We use Hotjar in order to better understand our users' needs and to optimize this service and experience.</p>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Expiration</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>_hjSessionUser</td>
        <td>Set when a user first lands on a page. Persists the Hotjar User ID which is unique to that site. Hotjar does not track users across different sites. Ensures data from subsequent visits to the same site are attributed to the same user ID.</td>
        <td>1 year.</td>
    </tr>
    <tr>
        <td>_hjHasCachedUserAttributes</td>
        <td>Enables us to know whether the data set in _hjUserAttributes Local Storage item is up to date or not.</td>
        <td>Session duration.</td>
    </tr>
    <tr>
        <td>_hjUserAttributesHash</td>
        <td>Enables us to know when any User Attribute has changed and needs to be updated.</td>
        <td>2 minutes duration, extended every 30 seconds.</td>
    </tr>
    <tr>
        <td>_hjUserAttributes</td>
        <td>Stores User Attributes sent through the Hotjar Identify API.</td>
        <td>No explicit expiration.</td>
    </tr>
    <tr>
        <td>hjViewportId</td>
        <td>Stores user viewport details such as size and dimensions.</td>
        <td>Session duration.</td>
    </tr>
    <tr>
        <td>hjActiveViewportIds</td>
        <td>Stores user active viewports IDs. Stores an expirationTimestamp that is used to validate active viewports on script initialization.</td>
        <td>No explicit expiration.</td>
    </tr>
    <tr>
        <td>_hjSession</td>
        <td>Holds current session data. Ensures subsequent requests in the session window are attributed to the same session.</td>
        <td>30 minutes, extended on user activity.</td>
    </tr>
    <tr>
        <td>_hjCookieTest</td>
        <td>Checks to see if the Hotjar Tracking Code can use cookies. If it can, a value of 1 is set. Deleted almost immediately after it is created.</td>
        <td>Under 100ms duration, cookie expiration time set to session duration.</td>
    </tr>
    <tr>
        <td>_hjLocalStorageTest</td>
        <td>Checks if the Hotjar Tracking Code can use Local Storage. If it can, a value of 1 is set. </td>
        <td>Under 100ms duration. No expiration time, but it is deleted almost immediately after it is created.</td>
    </tr>
    <tr>
        <td>_hjSessionStorageTest</td>
        <td>Checks if the Hotjar Tracking Code can use Session Storage. If it can, a value of 1 is set. </td>
        <td>Under 100ms duration. No expiration time, but it is deleted almost immediately after it is created.</td>
    </tr>
    <tr>
        <td>_hjTLDTest</td>
        <td>We try to store the _hjTLDTest cookie for different URL substring alternatives until it fails. Enables us to try to determine the most generic cookie path to use, instead of page hostname. It means that cookies can be shared across subdomains (where applicable). After this check, the cookie is removed.</td>
        <td>Session duration.</td>
    </tr>
    <tr>
        <td>_hjClosedSurveyInvites</td>
        <td>Set when a user interacts with a Link Survey invitation modal. Ensures the same invite does not reappear if it has already been shown.</td>
        <td>1 year.</td>
    </tr>
    <tr>
        <td>_hjDonePolls</td>
        <td>Set when a user completes an on-site Survey. Ensures the same Survey does not reappear if it has already been filled in.</td>
        <td>1 year.</td>
    </tr>
    <tr>
        <td>_hjMinimizedPolls</td>
        <td>Set when a user minimizes an on-site Survey. Ensures that the Survey stays minimized when the user navigates through your site.</td>
        <td>1 year.</td>
    </tr>
    <tr>
        <td>_hjShownFeedbackMessage</td>
        <td>Set when a user minimizes or completes a Feedback widget. Ensures the Feedback widget will load as minimized if the user navigates to another page where it is set to show.</td>
        <td>One day.</td>
    </tr>
    </tbody>
</table>

<h2>Removing Cookies</h2>

<p>If you have any concerns about cookies, or want to remove cookies from your computer, please visit <a target="_blank" href="https://allaboutcookies.org/" class="text-blue-700 text-decoration-underline">All About Cookies</a> which explains how to do this.</p>

<p>If you have any questions about how we use cookies, please contact email us at <a target="_blank" href="mailto:hello@codurance.com" class="text-blue-700 text-decoration-underline">hello@codurance.com</a></p>