.nav-item:hover{
    cursor: pointer;
}
.nav{
    gap: 3.5rem;
}
.nav-tabs{
    border-color: var(--primary---dark--200);
    padding-left: 1rem;
}
.nav-link{
    border-bottom: 2px solid transparent;
    padding: 1rem 0;
    color: var(--primary---dark---principal);
}

.nav-link.active{
    border-bottom: 2px solid var(--primary---red--900);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
    color: var(--primary---red--900);
}
