<CascadingValue Value="this">
    <ul class="nav nav-tabs my-4">
      
        @foreach (TabPage tabPage in Pages)
        {
            <li class="nav-item">
                <a
                    class="nav-link @GetButtonClass(tabPage)"
                    @onclick=@( () => ActivatePage(tabPage) )>
                    @tabPage.Text
                </a>
            </li>
        }
    </ul>
    
    @ChildContent
    
</CascadingValue>


@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    public TabPage ActivePage { get; set; }
    List<TabPage> Pages = new ();
    
    string GetButtonClass(TabPage page)
    {
        return page == ActivePage ? "active" : "";
    }

    void ActivatePage(TabPage page)
    {
        ActivePage = page;
    }

    internal void AddPage(TabPage tabPage)
    {
        Pages.Add(tabPage);
        if (Pages.Count == 1)
            ActivePage = tabPage;
        StateHasChanged();
    }
}