@using SherpaFrontEnd.Model

<h3>GroupsList</h3>

@if (Groups is not null)
{
    @foreach (var group in Groups)
    {
        <div class="form-check">
            @if (group.Id == SelectedGroupId)
            {
                <input class="form-check-input" type="radio"
                       name="flexRadioDefault"
                       id="@group.Id" checked="checked">
            }
            else
            {
                <input class="form-check-input" type="radio"
                       name="flexRadioDefault"
                       id="@group.Id">
            }
            <label class="form-check-label" for="@group.Id">
                @group.Name
            </label>
        </div>
    }
}

@code {
 
    [Parameter]
    public List<Group>? Groups { get; set; }
    
    [Parameter]
    public Guid SelectedGroupId { get; set; }
    
}