@using SherpaFrontEnd.Model
@using SherpaFrontEnd.Services
@inject IAssessmentsDataService AssessmentsDataService;
@page "/assessments-page"
<h3>AssessmentsPage</h3>

<div>
    <div class="row">
        <div class="col-3">
            <AssessmentsGroupsList 
                Groups="@Groups" 
                SelectedGroupId="@SelectedGroupId"
                OnGroupClick="UpdateSelectedGroup"></AssessmentsGroupsList>
        </div>
        <div class="col-9">
            @if (Groups is not null)
            {
                <AssessmentsTable Assessments="@SelectedGroupAssessments"></AssessmentsTable>
            }
        </div>
    </div>
</div>

@code {
    public List<Group>? Groups { get; private set; }
    public List<Assessment>? Assesments { get; set; }
    public List<Assessment>? SelectedGroupAssessments { get; set; }
    public Guid SelectedGroupId { get; private set; }
    
    protected override async Task OnInitializedAsync()
    {
        await GetAssessments();
    }

    private async Task GetAssessments()
    {
        var assessments = await AssessmentsDataService.GetAssessments();
        if (assessments is {Count: > 0 })
        {
            Assesments = assessments;
            var groupedAssessments = Assesments.GroupBy(assessment => assessment.GroupId);
            Groups = groupedAssessments.Select(byGroup => new Group(byGroup.Key, byGroup.First().Name)).ToList();
            SelectedGroupId = Groups[0].Id;
            SelectedGroupAssessments = groupedAssessments.First(a => a.Key.Equals(SelectedGroupId)).ToList();
        }
    }
    
    private void UpdateSelectedGroup(Guid id)
    {
        if (Groups is not null)
        {
            //todo: refactor to remove duplication with code on GetAssessments
            var groupedAssessments = Assesments.GroupBy(assessment => assessment.GroupId);
            Groups = groupedAssessments.Select(byGroup => new Group(byGroup.Key, byGroup.First().Name)).ToList();
            SelectedGroupId = id;
            SelectedGroupAssessments = groupedAssessments.First(a => a.Key.Equals(SelectedGroupId)).ToList();
        }
    }
}