@using BlazorApp.Model
@using BlazorApp.Services
@inject IGroupMemberService GroupMemberService

@page "/group-members"

<h3>GroupMemberTable</h3>

<table>
    <thead>
    </thead>
    <tbody>
    @foreach (var currentMember in GroupMembers)
    {
        <tr>
            <td>@currentMember.Name</td>
            <td>@currentMember.LastName</td>
            <td>@currentMember.Position</td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter]
    public List<GroupMember> GroupMembers { get; set; }

    // private IGroupMemberService GroupMemberService;
    
    protected override async Task OnInitializedAsync()
    {
        // GroupMemberService = new InMemoryGroupMemberService();
        GroupMembers = GroupMemberService.GetMembers();
    }


}