<div class="offcanvas offcanvas-start" tabindex="-1" id="@CanvasId" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasExampleLabel">Create new team</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
    <div class="offcanvas-body">
        <form>
            <label for="team-name-input">Team's name</label>
            <input id="team-name-input" type="text" required/>
            <button type="submit">Confirm</button>
        </form>
        <button>Cancel</button>
    </div>
    </div>

@code {
    [Parameter]
    public string? CanvasId { get; set; }
}