@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Color styles */
    --primary---dark---principal: rgba(29, 35, 60, 1);
    --primary---dark--800: rgba(75, 80, 100, 1);
    --primary---dark--600: rgba(120, 123, 138, 1);
    --primary---dark--400: rgba(165, 167, 177, 1);
    --primary---dark--300: rgba(165, 167, 177, 1);
    --primary---dark--200: rgba(208, 213, 221, 1);
    --primary---dark--100: rgba(242, 245, 249, 1);
    --primary---red--900: rgba(176, 35, 103, 1);
    --primary---red---principal: rgba(217, 27, 129, 1);
    --primary---red--800: rgba(255, 133, 128, 1);
    --primary---red--400: rgba(252, 169, 166, 1);
    --primary---red--200: rgba(255, 232, 231, 1);
    --primary---red--100: rgba(255, 245, 244, 1);
    --gray--900: rgba(12, 12, 13, 1);
    --gray--800: rgba(49, 49, 53, 1);
    --gray--600: rgba(98, 98, 106, 1);
    --gray--400: rgba(189, 189, 194, 1);
    --gray--300: rgba(208, 213, 221, 1);
    --gray--200: rgba(242, 242, 243, 1);
    --gray--100: rgba(250, 251, 251, 1);
    --gray---white: rgba(255, 255, 255, 1);
    --states---success--800: rgba(4, 149, 124, 1);
    --states---success--300: rgba(110, 216, 195, 1);
    --states---success--200: rgba(237, 255, 251, 1);
    --states---informative--800: rgba(16, 144, 232, 1);
    --states---informative--300: rgba(170, 217, 250, 1);
    --states---informative--200: rgba(235, 247, 255, 1);
    --states---alert--800: rgba(237, 190, 2, 1);
    --states---alert--300: rgba(255, 247, 208, 1);
    --states---alert--200: rgba(254, 252, 242, 1);
    --states---error--800: rgba(194, 17, 14, 1);
    --states---error--600: rgba(222, 102, 100, 1);
    --states---error--300: rgba(249, 190, 190, 1);
    --states---error--200: rgba(254, 242, 242, 1);
    /* Text-size styles */
    --title---h1: 28px;
    --title---h2--semibold: 24px;
    --title---h2--regular: 21px;
    --title---h3: 18px;
    --title---h4: 16px;
    --title---caption-12px: 12px;
    --text---body-16pt--regular: 16px;
    --text---body-16pt--semibold: 16px;
    --text---body-14pt--semibold: 14px;
    --text---body-14pt--regular: 14px;
    --text---label: 13px;
    --text---button-40px: 16px;
    --text---button-32px: 14px;
    --text---body-small-12px: 12px;
    --text---body-small: 12px;
}

