@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="flex gap-3 text-primary-dark-principal text-sm font-semibold">
            <p>@context.User.Claims.Where(_ => _.Type == "username").First().Value</p>
            <p>|</p>
            <button class="text-states-error-800" @onclick="BeginSignOut">Log out</button>
        </div>

    </Authorized>
</AuthorizeView>

@code{

    private string? Email;
    
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo($"authentication/logout");
    }
}