@inject NavigationManager NavigationManager
@using SherpaFrontEnd.Core.NavMenu

@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu/>
            </div>

            <div class="flex flex-col px-8 flex-1">
                <div class="flex gap-8 flex-row-reverse py-6">
                    <LoginDisplay/>
                </div>
                <main class="m-0 flex flex-1 flex-col pt-10 pb-0 px-0">
                    @Body
                </main>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="flex justify-center items-center w-screen h-screen">
                <div class="flex flex-col items-center gap-2">
                    <p>You're logged out</p>
                    <button class="btn btn-primary" @onclick="RedirectToLogin">Log in</button>
                </div>
            </div>
        </NotAuthorized>
        <Authorizing>
            <div class="flex justify-center items-center w-screen h-screen">
                <Spinner/>
            </div>
        </Authorizing>
    </AuthorizeView>
</div>

@code
{
    private async Task RedirectToLogin()
    {
        NavigationManager.NavigateTo("authentication/login");
    }
}