@using SherpaFrontEnd.Model
<p>Choose name for the group:</p>
<EditForm Model="Group" OnValidSubmit="Add">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <InputText @bind-Value="Group.Name"/>

    <div class="btn-group w-100 mt-5" role="group">
        <button class="w-50 btn btn-outline-danger btn-sm" @onclick="Cancel">Cancel</button>
        <button type="submit" class="w-50 btn btn-outline-primary btn-sm">Add</button>
    </div>
</EditForm>

@code {

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    public Group Group { get; set; } = new();

    void Cancel()
    {
        ModalInstance.CancelAsync();
    }

    private void Add()
    {
        ModalInstance.CloseAsync(ModalResult.Ok(Group));
    }

}