<p>Choose name for the group:</p>
<input @bind="_groupName"/>

<div class="btn-group w-100 mt-5" role="group">
        <button class="w-50 btn btn-outline-danger btn-sm" @onclick="Cancel">Cancel</button>
        <button class="w-50 btn btn-outline-primary btn-sm" @onclick="Add">Add</button>
    </div>

@code {

    [CascadingParameter] 
    BlazoredModalInstance ModalInstance { get; set; }

    string? _groupName;
    
    void Delete()
    {
        ModalInstance.CloseAsync();
    }
    
    void Cancel()
    {
        ModalInstance.CancelAsync();
    }

    private void Add()
    {
        ModalInstance.CloseAsync(ModalResult.Ok(_groupName));
    }

}