@using SherpaFrontEnd.Services
@using SherpaFrontEnd.Model
@inject IGroupDataService GroupDataService;
@page "/groups-page"

<div>
    <div class="row">
        <div class="col-3">
            <GroupsList Groups="@Groups" 
                        OnGroupClick="UpdateSelectedGroup"
                        OnDeleteGroup="groupId => DeleteSelectedGroup()"
                        SelectedGroupId="@SelectedGroupId"/>
        </div>
        <div class="col-9">
            <GroupMemberTable GroupMembers="@SelectedGroupMembers"/>
        </div>
    </div>
</div>

@code {
    
    public List<Group>? Groups { get; private set; }

    public Guid SelectedGroupId {  get; private set; }
    public List<GroupMember>? SelectedGroupMembers { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var requestedGroups = await GroupDataService.GetGroups();

            if (requestedGroups != null)
            {
                Groups = requestedGroups;
                SelectedGroupMembers = Groups.First().Members;
                SelectedGroupId = Groups.First().Id;
            }

        }
        catch (HttpRequestException e)
        {
            // TODO exception component?
        }
    }
    
    protected void UpdateSelectedGroup(Guid id)
    {
        Console.WriteLine("Callback");
        Console.WriteLine(id);
        SelectedGroupMembers = Groups.First(group => group.Id.Equals(id)).Members;
        SelectedGroupId = id;
    }

    private async Task DeleteSelectedGroup()
    {
        await GroupDataService.DeleteGroup(SelectedGroupId);
    }
}