@using SherpaFrontEnd.Model
@using SherpaFrontEnd.Services

<h3>GroupsList</h3>

@if (Groups is not null)
{
    @foreach (var group in Groups)
    {
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" @onclick="@(()=>Group_Click(group.Id))" id="@group.Id" >
            <label class="form-check-label" for="flexRadioDefault1">
                @group.Name
            </label>
        </div>
    }
}
else
{
    <h3>Groups not found</h3>
}

@code {
    [Parameter]
    public List<Group>? Groups { get; set; }
    
    [Parameter]
    public EventCallback<Guid> OnGroupClick { get; set; }
    
    private Guid SelectedGroup { get; set; }

    protected async Task Group_Click(Guid id)
    {
        Console.WriteLine(id);
        await OnGroupClick.InvokeAsync(id);
    }
}