@inject IHttpClientFactory ClientFactory;
@using SherpaFrontEnd.Model
@using System.Text.Json
@page "/groups-view"

<h3>GroupsList</h3>

@if (Groups is not null)
{
    @foreach (var group in Groups)
    {
        <li>@group.Name</li>
    }
}

@code {
    [Parameter]
    public List<Group>? Groups { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient();

        var request = new HttpRequestMessage(HttpMethod.Get,
            "https://localhost:7281/groups");

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            await using var responseStream = await response.Content.ReadAsStreamAsync();
            Groups = (List<Group>?) await JsonSerializer.DeserializeAsync<IEnumerable<Group>>(
                responseStream, 
                new JsonSerializerOptions{PropertyNameCaseInsensitive = true});
        }
        
        

    }

}