@inject IGroupDataService GroupDataService;
@using SherpaFrontEnd.Model
@using SherpaFrontEnd.Services
@page "/groups-view"

<h3>GroupsList</h3>

@if (Groups is not null)
{
    @foreach (var group in Groups)
    {
        <li>@group.Name</li>
    }
}

@code {
    [Parameter]
    public List<Group>? Groups { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Groups = GroupDataService.getGroups().Result;
    }

}