@page "/group-members"
@using SherpaFrontEnd.Model

<h3>GroupMemberTable</h3>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Position</th>
    </tr>
    </thead>
    @if (GroupMembers is not null)
    {
        <tbody>
        @foreach (var currentMember in GroupMembers)
        {
            <tr>
                <td>@currentMember.Name</td>
                <td>@currentMember.LastName</td>
                <td>@currentMember.Position</td>
            </tr>
        }
        </tbody>
    }
</table>

@code {
    [Parameter]
    public List<GroupMember>? GroupMembers { get; set; }
}