@inject IGroupDataService GroupDataService;
@using SherpaFrontEnd.Model
@using SherpaFrontEnd.Services
@page "/groups-view"

<h3>GroupsList</h3>

@if (Groups is not null)
{
    @foreach (var group in Groups)
    {
        <li>@group.Name</li>
    }
}
else
{
    <h3>Groups not found</h3>
}

@code {
    public List<Group>? Groups { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Groups = await GroupDataService.getGroups();

        }
        catch (HttpRequestException e)
        {
            // TODO exception component?
        }
    }

}