@page "/group-members"
@using SherpaFrontEnd.Model

<h3>GroupMemberTable</h3>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Position</th>
    </tr>
    </thead>
    @if (GroupMembers is not null)
    {
        <tbody>
        @foreach (var currentMember in GroupMembers)
        {
            <tr>
                <td>@currentMember.Name</td>
                <td>@currentMember.LastName</td>
                <td>@currentMember.Position</td>
            </tr>
        }
        </tbody>
    }
</table>

@code {

    private List<GroupMember>? _groupMembers;

    [Parameter]
    public List<GroupMember>? GroupMembers
    {
        get => _groupMembers;
        set
        {
            _groupMembers = value;
            _groupMembers?.Sort((m1, m2) =>
                    string.Compare(m1.LastName, m2.LastName, StringComparison.Ordinal));
        } 
    }
}