@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Sherpa!</h1>

<p>
    Sherpa is a software platform designed to help technical team leaders coach their teams to success. Our tool provides comprehensive assessment and tracking features, including technical skills assessments, team dynamics analysis, and performance metrics tracking.
</p>
<p>
    With Sherpa, team leaders and coaches can gain valuable insights into their team's strengths and weaknesses and take action to improve their performance over time.
</p>