@page "/answer-survey/{surveyId:guid}/{memberId:guid}"
@using SherpaFrontEnd.Dtos
@using SherpaFrontEnd.Services
@inject ISurveyService SurveyService
@inject NavigationManager NavigationManager

<div>
    @if (_survey != null)
    {
    <h2>@_survey.Title</h2>
        <div>
            <p>@_survey.Description</p>
        </div>
    }
</div>


@code {

    [Parameter]
    public Guid SurveyId { get; set; }

    [Parameter]
    public Guid MemberId { get; set; }

    private SurveyWithoutQuestions? _survey;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _survey = await SurveyService.GetSurveyWithoutQuestionsById(SurveyId);
            Console.WriteLine("monda" + _survey.ToString());
        }
        catch
        {
            NavigationManager.NavigateTo(NavigationManager.BaseUri + "error");
        }
    }

}