@page "/templates/{templateName}"

<h1>@TemplateName</h1>
<button class="w-25 btn btn-outline-primary">Launch this template</button>

@code {
    [Parameter]
    public string? TemplateName { get; set; }

}