@page "/templates"
@using SherpaFrontEnd.Services
@inject ITemplateService TemplateService
<h3>Templates</h3>
<ul class="template-box-list">

    @foreach (var template in _templates)
    {
        <li>
            <div class="template-box">
                <h2 class="template-box__title">@template.Name</h2>
                <p class="template-box__time"><i class="las la-clock"></i> @template.MinutesToComplete min</p>
                <button class="template-box__button"><span><i class="las la-ellipsis-v"></i></span><span class="visually-hidden">Open contextual menu for @template.Name</span></button>
            </div>
        </li>
    }
    @if (_errorFetchingTemplates)
    {
        <p>There has been an error loading the templates</p>
    }
</ul>

@code {
    private TemplateWithNameAndTime[] _templates = { };
    private bool _errorFetchingTemplates = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _errorFetchingTemplates = false;
            var templates = await TemplateService.GetAllTemplates();
            if (templates != null)
            {
                _templates = templates;
            }
        }
        catch (Exception e)
        {
            _errorFetchingTemplates = true;
        }
    }

}