@page "/templates/Hackman Model"

<h1>Hackman Model</h1>
<button class="w-25 btn btn-outline-primary">Launch this template</button>

@code {
    
    [Parameter]
    public string? Name { get; set; }
    
}